# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
cs3e/Ex/Store.cs.txt
cs3e/Ex/Transport.cs.txt
cs3e/Ex/Program2.cs.txt
cs3e/Ex/Program1.cs.txt
cs3e/Ex/Customer.cs.txt
cs3e/captions_ad6T_nmrWHg.sbv
